@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-white: #fff;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-greenyellow: greenyellow;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway';
    background-color: var(--color-dark1);
    color: var(--color-white);
    z-index: 1;
}

.logo_header{
    width: 110px;
    /* margin-right: 26px; */
    margin-top: 20px;
    
    
}
.dash{
    cursor: pointer;
}

.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 200;
    margin-right: 20%;
    font-family: 'Raleway';
}
.header{
    background-color: var(--color-dark2);
    width: 100%;
    justify-content: space-between;
    padding: 0 10%;
    height: 3.5em;
    box-shadow: 1px 1px 4px var(--color-dark4);
    position: fixed;
    top: 0;
    z-index: 3
}
.sair{
    width: 70px;
    border-radius: 30px;
    color: black;
font-weight: 600;
cursor: pointer;
    background-color: rgb(20, 173, 20);
}
.sair:hover{
    transition: 1s;
    transform: scale(1.2);
}
.user{
    margin-right: 200px;
    color: var(--color-greenyellow);
}
.navigation_header{
    gap: 3em;
    z-index: 2;
    /* margin-left: 60px; */
}
.barra a{
    color: white;
    margin-right: 5px;
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
}
.navigation_header a{
    text-decoration: none;
    color: var(--color-greenyellow);
    transition: 1s;
    /* margin-right: 50px; */
   
}


.navigation_header .sobre{
    color: white;
}
.navigation_header a:hover{
    color: var(--color-white);
}
.active{
    background: var(--color-dark3);
    padding: 10px;
    border-radius: 10px;
}
.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

.login{
    color: var(--color-greenyellow);
    cursor: pointer;
    transition: 1s;
    margin-right: 5px;

    
}
.login:hover{
    color: var(--color-white);
}
.cadastro{
    color: var(--color-greenyellow);
    cursor: pointer;
    margin-left: 8px;
    transition: 1s;
   
 
} 
.cadastro:hover{
color: var(--color-white);
}
.entrada{
        display: flex;
        margin-right: 300px;  
   
    }
.qtd{
    width: 400px;
    display: flex;
    
    margin-bottom: 20px;
    /* background-color: black; */
}
.frase1{
    margin-left: 70px;
    color: var(--color-greenyellow);
    font-weight: 500;
    font-family: 'Poppins';
    
    
}
.frase2{
    margin-left: 130px;
    justify-content: center;
    color: var(--color-greenyellow);
    font-weight: 500;
    font-family: 'Poppins';

    
}


.chart{
    width: 300px;
    height: 300px;
    margin-top: 7px;
    margin-right: 20px;
    font-family: 'Poppins';

}
.chart2{
    width: 700px;
    height: 700px;
    margin-left: 150px;
    margin-top: 7px;
    font-family: 'Poppins';

    
    
}
.canvas{
    display: flex;
    margin-top: 200px;
    margin-left: 200px;
    max-width:700px ;
    max-height: 700px;
    font-family: 'Poppins';

    
}
h1{
    display: flex;
    color: greenyellow;
    margin-top: -80px;
    margin-left: -750px;
    font-family: 'Poppins';

}
.imgs{
    display: flex;
    max-width: 130px;
    max-height: 130px;
    
    img{
        width: 80%;
        height: 80%;
        margin-left: 305px;
        margin-top: -540px;
    }
    
    
}
.kpi1{
width: 230px;
height: 200px;
border: 2px solid white;
margin-top: -220px;
margin-left: 250px;
border-radius: 10px;
text-align: center;
background-color: rgba(0, 0, 0, 0.407);
font-weight: bold;
font-family: 'Poppins';



.tentativas{
    color: greenyellow;
    font-size: 80px;
    font-family: 'Poppins';

    
    
}
}

.imgkpi{
    max-width: 50px;
    margin-top: -140px;
}
.imgkpi img{
    width: 100%;
    margin-left: 400px;
    
}

.kpi2{
    width: 230px;
    height: 200px;
    border: 2px solid white;
    margin-left: 950px;
    margin-top: -205px;
border-radius: 10px;
text-align: center;
background-color: rgba(0, 0, 0, 0.407);
font-weight: bold;





.tentativas{
    color: greenyellow;
    font-size: 80px;
    
    
}


}