
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
}

html,
body {
    background-image: url(assets/quiz.png);
    background-size: cover;
    background-position: center;
    background-color: #000000;
    /* color: white; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway";
    width: 100%;
   
    /* border: 3px solid yellowgreen; */
}
.message{
    color: white;
}

#img_homepage {
    width: 150px;
    height: 150px;
    margin-bottom: 100px;
    margin-top: 30px;

  
}
button {
    cursor: pointer;
    align-items: center;

}
.dash{
color: white;
    cursor: pointer;
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    width: 900px;
    max-width: 900px;
    border: 3px solid greenyellow;
    border-radius: 3px;
    padding: 16px;
    box-shadow: 0 0 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
}

.perguntas_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.perguntas {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.respostas_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.next_quiz {
    margin-top: 32px;
}

.button {
    background: linear-gradient(to bottom, yellow, greenyellow   );
    color: black;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 6px;
    height: 48px;
    padding: 0 32px;
    transition: filter 0.2s;
}

.button:not(:disabled):hover {
    filter: brightness(0.8);
}

.answer:disabled {
    cursor: not-allowed;
}

.hide {
    display: none;
}

.correct,
.incorrect {
    width: 100%;
}

.correct {
    background: green;
}

.incorrect {
    background: #a10101;
}

.mensagem_final {
    font-size: 20px;
    text-align: center;
    font-family: "Raleway";
    color: greenyellow;
}

.mensagem_final span {
    display: block;
    margin-top: 8px;
    font-family: "Raleway";
    color: white;   

}
.voltar {
    width: 35px;
    position: absolute; 
    top: 35px;
    left: 45px;
}
#voltar span {
    position: absolute;
    top: 80px; 
    left: 90px; 
    color: greenyellow; 
    font-family: "Raleway"; 
    font-size: 1.5em;
    font-weight:lighter; 
    margin-top: 120px;
 
    margin-left: 280px;
}
    #voltar img{
    margin-top: 150px;
    margin-left: 74%;
    width: 100px;
    height: 100px;
}  
/* .message{
    color: aqua;
} */