@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-white: #fff;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-greenyellow: greenyellow;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
    background-color: var(--color-dark1);
    color: var(--color-white);
    z-index: 1;
    overflow-x: hidden;
}


.logo_header {
    width: 110px;
    margin-right: 25px;
    margin-top: 20px;


}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 200;
}

.header {
    background-color: var(--color-dark2);
    justify-content: space-between;
    padding: 0 10%;
    height: 3.5em;
    box-shadow: 1px 1px 4px var(--color-dark4);
    position: fixed;
    top: 0;
    z-index: 3
}

.navigation_header {
    gap: 3em;
    z-index: 2;
    margin-left: 60px;
}

.content {
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
}

.navigation_header a {
    text-decoration: none;
    color: var(--color-greenyellow);
    transition: 1s;

}
.barra a{
    color: white;
    margin-right: 5px;
}



.navigation_header a:hover {
    color: var(--color-white);
}

.active {
    background: var(--color-dark3);
    padding: 10px;
    border-radius: 10px;
}

.btn_icon_header {
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

.login {
    color: var(--color-greenyellow);
    cursor: pointer;
    transition: 1s;
    margin-left: 95px;
    margin-right: 10px;


}

.login:hover {
    color: var(--color-white);
}

.cadastro {
    color: var(--color-greenyellow);
    cursor: pointer;
    margin-left: 8px;
    transition: 1s;

}

.cadastro:hover {
    color: var(--color-white);
}

.entrada {
    display: flex;
    margin-right: 155px;
}

.chart{
    width: 300px;
    height: 300px;
}
.canvas{
    display: flex;
    margin-top: 250px;
    margin-left: 200px;
    width: 400px;
    height: 400px;
}
 h1{
    display: flex;
    color: greenyellow;
    /* margin-top: 2    00px; */
    
}
.imgs{
    display: flex;
    max-width: 150px;
    max-height: 150px;
}

.imgs img{
    width: 100%;
    height: 100%;
    margin-left: 325px;
    margin-top: -260px;
}