@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-white: #fff;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-greenyellow: greenyellow;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway';
    background-color: var(--color-dark1);
    color: var(--color-white);
    z-index: 1;
}

.logo_header{
    width: 110px;
    margin-right: 26px;
    margin-top: 20px;
    
    
}

.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 200;
    /* margin-right: 5px; */
}
.header{
    background-color: var(--color-dark2);
    justify-content: space-between;
    padding: 0 10%;
    height: 3.5em;
    box-shadow: 1px 1px 4px var(--color-dark4);
    position: fixed;
    top: 0;
    z-index: 3
}
.navigation_header{
    gap: 3em;
    z-index: 2;
    margin-left: 60px;
}
.barra a{
    color: white;
    margin-right: 5px;
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
}
.navigation_header a{
    text-decoration: none;
    color: var(--color-greenyellow);
    transition: 1s;
   
}
.navigation_header .sobre{
    color: white;
}
.navigation_header a:hover{
    color: var(--color-white);
}
.active{
    background: var(--color-dark3);
    padding: 10px;
    border-radius: 10px;
}
.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

.login{
    color: var(--color-greenyellow);
    cursor: pointer;
    transition: 1s;
    /* margin-left: 17px; */
    margin-right: 5px;

    
}
.login:hover{
    color: var(--color-white);
}
.cadastro{
    color: var(--color-greenyellow);
    cursor: pointer;
    margin-left: 8px;
    transition: 1s;
 
} 
.cadastro:hover{
color: var(--color-white);
}
.entrada{
        display: flex;
        margin-right: 300px;  
   
    }

.siteSobre {
    display: flex;
    justify-content: center;

}

.introducao {
    display: flex;
    margin-top: 150px;
}



.siteSobre {
    position: relative;
    padding-top: 50px;
}

.imgSobre {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    height: 46vw;
    z-index: -1;
}

.textoSobre {

    width: 350px;
    margin-right: 900px;
    padding: 20px 20px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 20px;
    


}

.sobreTitulo {

    margin-bottom: 20px;

}

.textoSobre p {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}
.banda {
     
    border: solid 3px red;
    height: 150px;
    cursor: pointer;
    width: 300px;
    transition: 1s;
    margin-top: 10px;
    


}

.wailers {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    font-weight: bold;
    position: absolute;
    margin-left: 1100px;
    justify-content: space-between;
    margin-top: -550px;
}

.wailers .carreira {
    border: solid 3px var(--color-greenyellow);
    width: 200px;
    cursor: pointer;
    height: 200px;
    transition: 1s;
    margin-bottom: 10px;

}

.wailers .paz {
    border: solid 3px yellow;
    cursor: pointer;
    height: 200px;
    width: 200px;
    transition: 1s; 
  border-radius: 50%;
}

.banda:hover{
    transform: scale(1.1);
}
.paz:hover{
    transform: scale(1.1);
}
.carreira:hover{
    transform: scale(1.1);

}
h1{
    color: var(--color-greenyellow);
}

.green {
    color: var(--color-greenyellow);
    margin-bottom: 7px;
    display: flex;
    justify-content: center;

}

.yellow {
    color: yellow;
    margin-bottom: 7px;
    display: flex;
    justify-content: center;
}

.red {
    color: red;

    margin-left: 130px;


}
.linha {
    width: 100%;
    height: 2px;
    /* margin-top: 205px; */
    background-color: #fff;
    margin-bottom: -1px;

}

footer {
    display: flex;
    height: 175px;
    background-color:var(--color-dark5);
 


}

.infoFooter {
    display: flex;
    flex-direction: column;
    margin-block: 50px;
    

    a {
        color: var(--color-greenyellow);
    }
}


.imgsFooter {
    padding-top: -100px;
    display: flex;
    flex-direction: column;
    /* border: solid 3px wheat; */
    align-items: center;
    width: 250px;
    height: fit-content;
    margin-block: 50px;
    
}

.linkedin {
    margin-top: -10px;
    width: 50px;
    height: 50px;
    margin-bottom: -70px;
    border: solid 2px white;
    border-radius: 50%;
    cursor: pointer;

}

.github {
    width: 50px;
    height: 50px;
    border: solid 2px white;
    border-radius: 50%;
    margin-top: 90px;
    cursor: pointer;

}

.textoFooter{
    display: flex;
    text-align: center;
    margin-inline: 50px ;
    margin-block: 50px;
    font-size: medium  ;
    

    .onu{
        color: rgb(0, 187, 255);
        text-decoration: underline;
        cursor: pointer;
    }
}